<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<div>
	<ul>
		<li><%= link_to 'Article', articles_path %></li>
		<li><%= link_to 'Article new', new_article_path %></li>
		<li><%= link_to 'Home', '/' %></li>
	</ul>
</div>
